body{
    margin: 0;
    background-color: ;

}
img{
    width: 100%;
    max-width: 300px;
    float: right;

}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h4{
    margin-top: 1px;
    margin-bottom: 1px;
    color: #F6F6F6;

}
h3{
    margin-top: 2px;
    margin-bottom: 0;
    font-family: sans-serif;
}
div.h3nav{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #F6F6F6;
    text-align: center;
}
h2{
    font-family: ;
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-size: x-large;
    color: darkred;
}
p{
    text-align: left;
    font-family: sans-serif;
    margin: 5px;
    margin-top: 0;

}
p::first-letter{
    font-size: 40px;
    color: darkred;
}
div.grid{
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
            "header"
            "nav"
            "meny"
            "main"
            "aside"
            "footer"
;
}
div.header{
    background-color: #0f1b07;
    grid-area: header;
    color: #0f1b07;

}
div.nav{
    background-color: #5c821a;
    grid-area: nav;
    text-align: center;
    color: ;
}
div.meny{
    background-color: #c6d166;
    grid-area: meny;

}
div.main{
    background-color: #ffffff;
    grid-area: main;
    min-height: 500px;
    text-align: center;
}
div.aside{
    background-color: #c6d166;
    grid-area: aside;
}
div.footer{
    background-color: #0f1b07;
    grid-area: footer;
    text-align: center;
    color: #F6F6F6;
}
a.ttt{
    color: whitesmoke;
    display: block;
    background-color: #5c821a;
    width: 100px;
    font-size: Large;
    padding: 10px;
    border-radius: 1px;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    align-content: center;
}
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol a{
    display: flex;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    color: black;
}
ol a:hover{
    background-color: #F6F6F6;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul a{
    display: block;
    padding: 10px;
    border-radius: 1px;
    margin: 2px;
    color: #ddff99;
    font-weight: bold;
    text-decoration: none;
    background-color: #5c821a;

}
ul a:hover{
    background-color: #F6F6F6;
}
input[type="submit"]{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    color: #0f1b07;
}
form{
    display: block;
    width: 220px;
    padding: 5px;
    color: #0f1b07;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;

}
table{
}
th{
    background-color: #5c821a;
    border:1px solid #000000;
    padding: 5px;
    font-family: sans-serif;
}
td{
    border: 1px solid #000000;
    padding: 5px;
    font-family: sans-serif;
    background-color: #ffffff;
}

}

@media (min-width: 600px) {
    div.grid {
        grid-auto-columns: 1fr 3fr 1fr;
        grid-template-areas:
                "header header  header"
                "nav    nav     nav"
                "meny   main    main"
                "aside  main    main"
                "footer footer footer"
    ;
    }
    img{
        width: 100%;
        max-width: 300px;


    }
    div.main{
        background-color: #F6F6F6;
        grid-area: main;
        min-height: 800px;
        text-align: center;
    }
}
@media (min-width: 1000px) {
    div.grid {
        grid-auto-columns: 1fr 3fr 1fr;
        grid-template-areas:
                "header header  header"
                "nav    nav     nav"
                "meny   main    aside"
                "footer footer footer";
    }

}
@media (min-width: 1500px) {
    div.grid{
        grid-auto-columns: 200px 1fr 3fr 1fr 200px;
        grid-template-areas:
                "luft1  header  header  header  luft2"
                "luft1  nav     nav     nav     luft2"
                "luft1  meny    main    aside   luft2"
                "luft1  footer  footer  footer  luft2"

    ;
    }
    div.luft1{
        grid-area: luft1;
    }
    div.luft2{
        grid-area: luft2;
    }
    div.main{
        background-color: #F6F6F6;
        grid-area: main;
        min-height: 850px;
        text-align: center;
    }
}